.form_container {
    background: #495C70;
    grid-column: 2 / 5;
    grid-row: 2;
    border-radius: 15px;
}
.form_body {
  position: relative;
  left:10%;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form_body input[type=text],
.form_body input[type=password],
.form_body label,
.form_body button
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}

.form_body p{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:32px;
    color: #fff;
    text-align: center;
}
.form_body label{
  width: 100%;
  height: 40px;
}

.form_body label span{
  display: inline-block;
  width: 30%;
}
.form_body input {
    position: relative;
    left: 5%;
    width: 55%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    outline: none;
  }

  .form_body button{
    position: relative;
    left: 5%;
    width: 25%;
    height:25%;
    margin:10px;
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}

.form_body input[type=text]:focus,
.form_body input[type=password]:focus
{
  border-bottom: 1px dashed #D9FFA9;
}
.form_body button:hover{
background: #394D61;
}


